<nav class="navbar navbar-default" id="heading">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home" >SRH智慧校园</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/home">首页 <span class="sr-only">(current)</span></a></li>
        <li><a href="#/repair" ng-click="islogined()">报修系统</a></li>
        <li><a href="#" ng-click="islogined()">社交</a></li>
        <li><a href="#/aboutus">关于我们</a></li>
        <li><a href="data/download.html">资源下载</a></li>

        
        <li>
        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="a-login">

        		<span class="glyphicon glyphicon-user"></span>&nbsp;<span class="caret"></span>
        	</a>
        	<ul class="dropdown-menu">
            <li><a href="#/login" style="margin-left:0px;"  ng-if="info == '未登录'">登录</a></li>
            <li><a href="#/login" style="margin-left:0px;"  ng-if="info != '未登录'">帐号:{{info}}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#/register" style="margin-left:0px;"  ng-if="info == '未登录'">注册</a></li>
            <li ng-click="exit()"><a style="margin-left:0px;color:red;" ng-if="info != '未登录'" >退出</a></li>
          </ul>
          <ul>

          
            
          </ul>
        </li>


      </ul>
        
      
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>