<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title">菜单</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#app/playlists">
        <p style="color:#acdaca">主页</p>
        </ion-item>
        <ion-item menu-close href="#app/info">
          我的资料
        </ion-item>

        <ion-item menu-close href="#app/contacts">
         <p style="color:blue;">通讯簿</p>
        </ion-item>
        <ion-item menu-close href="#app/consoling">
         <p style="color:#7b4425;">正在处理</p>
        </ion-item>
        <ion-item menu-close href="#app/unconsoled">
         <p style="color:red;">未处理</p>
        </ion-item>
        <ion-item menu-close href="#app/consoled">
         <p style="color:green;">已处理</p>
        </ion-item>
        <ion-item menu-close href="#">
          
        </ion-item>
        <ion-item menu-close href="#app/myfeedback">
          <p>我的反馈</p>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
