<ion-view title="我的资料">
	<ion-content>
		<!-- 手机号 昵称 姓名 性别 院系 学号 邮箱 -->
		<table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <!-- 这里是具体资料的编辑页面 -->
          <th><p align="right"><a href="#tab/account/register">编辑</a></p></th>

        </tr>
      </thead>
      <tbody>
      	<tr>
          <th scope="row">手机号</th>
          <td>17863860445</td>

        </tr>
        <tr>
          <th scope="row">昵称</th>
          <td>Mark</td>

        </tr>
        <tr>
          <th scope="row">姓名</th>
          <td>Jacob</td>

        </tr>
        <tr>
          <th scope="row">性别</th>
          <td>男</td>
        </tr>
         <tr>
          <th scope="row">院系</th>
          <td>信息科学技术学院</td>
        </tr>
         <tr>
          <th scope="row">学号</th>
          <td>2014072130</td>
        </tr>
         <tr>
          <th scope="row">邮箱</th>
          <td>tsxyhzw@gmail.com</td>
        </tr>
      </tbody>
    </table>
    
        
    
    

		
	</ion-content>
</ion-view>