<ion-view view-title="智慧校园">
  <ion-content>
  <!-- 这里有一个幻灯片用来播放新闻 -->
 	<div style="height:25vh;">
 		<ion-slide-box does-continue="true" auto-play="true" slide-interval="4000" show-pager="false">
  			<ion-slide>
    			<div>
            <h3 style="position:absolute;color:white;">123</h3>
            <img src="img/p1.jpg" alt="" class="home-img">
          </div>
  			</ion-slide>
  			<ion-slide>
   		 		<div><img src="img/p2.jpg" alt="" class="home-img"></div>
  			</ion-slide>
  			<ion-slide on-slide-changed="slideHasChanged(index)">
    			<div><img src="img/p3.jpg" alt="" class="home-img"></div>
  			</ion-slide>
		</ion-slide-box>
 	</div>

	<ion-list>
    	<ion-item class="item-remove-animate item-icon-right item-avatar" type="item-text-wrap" href="#/tab/home/repair">
    		<img src="img/baoxiu.png" alt="报修">
    		<h2>报修系统</h2>
    		<p>为广大学子提供便捷快速的服务</p>
    	</ion-item>
	<ion-list>
  </ion-content>
</ion-view>
