    <heading></heading>
    <div data-ride="carousel" class="carousel slide" id="carousel-example-captions" name="name1">
      <ol class="carousel-indicators">
        <li class="" data-slide-to="0" data-target="#carousel-example-captions"></li>
        <li data-slide-to="1" data-target="#carousel-example-captions" class=""></li>
        <li data-slide-to="2" data-target="#carousel-example-captions" class="active"></li>
      </ol>
      <div role="listbox" class="carousel-inner">
        <div class="item">
          <img alt="900x500" src="img/ss1.png" data-holder-rendered="true">
          <div class="carousel-caption">
            <h3>智慧学习</h3>
            <p>随时随地制定学习计划，摆脱漫无目的学习状态</p>
          </div>
        </div>
        <div class="item">
          <img alt="900x500" src="img/jdt01b.jpg" data-holder-rendered="true">
          <div class="carousel-caption">
            <h3>智慧生活</h3>
            <p>随时随地联系发表个人动态，享受学校生活</p>
          </div>
        </div>
        <div class="item active">
          <img alt="900x500" src="img/jdt02.jpg" src="" data-holder-rendered="true">
          <div class="carousel-caption">
            <h3>智慧资讯</h3>
            <p>随时随地咨询在校事宜，全面掌握在校生活</p>
          </div>
        </div>
      </div>
      <a data-slide="prev" role="button" href="#carousel-example-captions" class="left carousel-control">
        <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a data-slide="next" role="button" href="#carousel-example-captions" class="right carousel-control">
        <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

   


    <div class="container">
    <h2 class="tb-title phone">为在校师生提供快速便捷的服务，实现数字化校园</h2>
    <p class="tb-dscb phone">无处不在的网络学习、融合创新的网络科研、透明高效的校务治理、丰富多彩的校园文化、方便周到的校园生活。简而言之，“要做一个安全、稳定、环保、节能的校园。”</p>

    <hr class="half-rule phone">

    <div class="row">
      <div class="col-sm-4">
        <img alt="图片3" src="img/show1.png" class="tb-show">
        <h3 align="center">全平台服务</h3>
        <p>SRH智慧校园提供了全平台式的服务<a href="#">移动站</a>、pc站、<a href="#">威信</a>,方便不同人群的不同需求。</p>
      </div>
      <div class="col-sm-4">
        <img alt="图片2" src="img/show2.png" class="tb-show">
        <h3 align="center">可拓展应用</h3>
        <p>使用本平台可以很轻松的进行业务拓展，更能方便便捷的实现网站维护。</p>
      </div>
      <div class="col-sm-4">
        <img alt="图片1" src="img/show3.png" class="tb-show">
        <h3 align="center">富客户端</h3>
        <p>前后端分离开发，最大程度上减少客户端对服务器的依赖，减轻服务器负担，更好利用资源。</p>
      </div>
    </div>
  

    <hr class="half-rule">
    <div class="phone">
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>

    

     <div class="row">
      <div class="col-lg-4 col-4" style="border-right:solid #f9f9f9 1px;">
        <!-- angularjs_logo -->
      <a href="http://996426.com/document/learning.html">
        <img src="img/angularjs_logo.jpg" alt="angularjs_logo" class="tb-show">
      </a>
      </div>
      <div class="col-lg-8  col-4">
        <p style="font-size:20px;font-family:'宋体';" class="phone"><a href="http://www.apjs.net/">Angularjs</a>搭配<a href="http://www.ionic.wang/js_doc-index.html">Ionic</a>和<a href="http://cordova.apache.org/">cordova</a>开发移动H5应用，一次开发全移动平台共享。<i>AngularJS将帮助标准化的开发web应用结构并且提供了针对客户端应用的未来开发使用的模板</i>。AngularJS作为可选的架构必将成为整个开发社区的明星。因为AngualrJS是google开发的产品，所以注定了你将有一个坚实的基础，相信它能够成为你的最佳选择！</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-8 col-4">
       <p style="font-size:20px;font-family:'宋体';" class="phone"><a href="https://nodejs.org/en/">Node.js</a>是一个Javascript运行环境(runtime)。实际上它是对<a href="http://996426.com/document/google-v8.html">Google V8引擎</a>进行了封装。V8引 擎执行Javascript的速度非常快，性能非常好。Node.js对一些特殊用例进行了优化，提供了替代的API，使得V8在非浏览器环境下运行得更好。Node.js是一个基于Chrome JavaScript运行时建立的平台， 用于方便地搭建响应速度快、易于扩展的网络应用。Node.js 使用事件驱动， 非阻塞I/O 模型而得以轻量和高效，非常适合在<strong>分布式</strong>设备上运行数据密集型的实时应用。</p>
      </div>
      <div class="col-lg-4  col-4"  style="border-left:solid #f9f9f9 1px;">
        <img src="img/nodejs_logo.png" alt="nodejs_logo" class="tb-show">
      </div>
    </div>
  <hr>
    <div class="row">
      <div class="col-lg-4  col-4"  style="border-right:solid #f9f9f9 1px;">
        <img src="img/mongodb_logo.jpg" alt="mongodb_logo" class="tb-show">
      </div>
      <div class="col-lg-8  col-4" >
        <p style="font-size:20px;font-family:'宋体';" class="phone">MongoDB是一个基于分布式文件存储的数据库。由C++语言编写。旨在为WEB应用提供可扩展的高性能数据存储解决方案。高性能、易部署、易使用，存储数据非常方便。Mongo最大的特点是他支持的查询语言非常强大，其语法有点类似于面向对象的查询语言，几乎可以实现类似关系数据库单表查询的绝大部分功能，而且还支持对数据建立索引。</p>
      </div>
    </div>
    <p class="lead">SRH智慧校园是完全免费的。它的代码托管、开发、维护都依赖 。<a href="#">GitHub 平台</a></p>
  </div>


    <footing></footing>

