<ion-view view-title="个人中心">
  <ion-content style="text-align:center;">

  	<a href="#tab/account/login">
  		<div style="background-color:#387ef5;padding:7px 0px 3px 0px;">
		<img src="img/baoxiu.png" alt="img" style="width:96px;height:96px;border-radius:90px;display:inline-block;margin-left:auto;margin-right:auto;margin-top:3px;"><br>
			<h4 style="margin-top:-5px;">
				<a href="{{hrefs}}" style="color:white;padding-top:5px;">
					{{info}}
				</a>
			</h4>
		</div>
  	</a>
    <ion-list class="account-menu">
		<ion-item class="list-inset">
			<a href="#tab/account/data"><p>我的资料</p></a>
		</ion-item>
		<ion-item class="list-inset">
			<a href="#tab/account/card"><p>我的帖子</p></a>
		</ion-item>
		<ion-item class="list-inset">

			<a href="#tab/account/collection"><p>我的收藏	</p></a>
		</ion-item>
		<ion-item class="list-inset">
			<a href="#tab/account/myfeedback"><p>我的反馈</p></a>
		</ion-item>
		<br>
		<ion-item class="list-inset">
			<a href="#tab/account/about"><p>关于<i class="ion-ios-information-outline"></i></p></a>
		</ion-item>
		


		

    </ion-list>
  </ion-content>
</ion-view>
